@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 20px;
}

#home {
  height: 100vh;
  background: url('https://cdn.suwalls.com/wallpapers/photography/listening-to-music-at-sunset-46733-1920x1200.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  font-weight: 700;
}

#mainText {
  margin-top: 30vh;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 20px;
}

#mood {
  margin-top: 50px;
  font-family: 'Comfortaa', cursive;
  font-size: 23px;
  font-weight: 700;
}

#mood-note {
  justify-content: stretch;


}

#stuff {
  display: flex;
  justify-content: space-around;
}

#playlist{

    background-color: rgb(61,61,61);

    margin-left: 90px;

    margin-right: 30px;

    height:300px;

}

#p1 {
  background: url('https://images.8tracks.com/cover/i/008/708/314/Girl-Sitting-In-Sunset-Hd-Wallpaper-1928.jpg?rect=299,0,768,768&q=98&fm=jpg&fit=max');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  height: 350px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 30px;

}

#playlistStuff {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 20px;
}

#about {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

.history {
  width: 80%;
  margin: 0 auto;
}

blockquote {
  border-left: 10px solid white;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: white;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.inline-stuff {
  display: flex;
}

#auth-dropdown-holder,
#dropdown1 {
  left: inherit !important;
}

#angry:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

.invisible {
  visibility: hidden !important;
}

.avatar-image {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.dropdown-trigger:focus {
  outline: none !important;
}

.title-before:before,
section:before,
article:before {
  content: attr(class);
  position: absolute;
  left: 2px;
  top: -2em;
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0 auto;
  overflow-x: hidden;
}

section {
  min-height: 8em;
  margin: 6% auto;
  display: flex;
  position: relative;
}

section a {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  transition: all 100ms ease-in;
  border-bottom: 1em solid #222;
  margin: 2px;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.2);
}

section a:hover {
  border-bottom-width: 0em;
}

section a.clicked {
  color: rgba(255, 255, 255, 0.8);
  flex-grow: 1.4;
}

section.mood a:nth-child(1) {
  background-color: #c6597f;
}

section.mood a:nth-child(2) {
  background-color: #b26a8b;
}

section.mood a:nth-child(3) {
  background-color: #9d7b96;
}

section.mood a:nth-child(4) {
  background-color: #898ca1;
}

section.mood a:nth-child(5) {
  background-color: #749dac;
}

section.mood a:nth-child(6) {
  background-color: #60aeb8;
}

section.mood a img {
  opacity: 0.9;
  margin: auto;
  max-width: 6em;
  height: 4em;
  position: relative;
  left: -0.2em;
}

section.energy a:nth-child(1) {
  background-color: #e8b54e;
}

section.energy a:nth-child(2) {
  background-color: #d1b650;
}

section.energy a:nth-child(3) {
  background-color: #bab853;
}

section.energy a:nth-child(4) {
  background-color: #a3b955;
}

section.energy a:nth-child(5) {
  background-color: #8dba57;
}

section.energy a:nth-child(6) {
  background-color: #76bb59;
}

section.energy a:nth-child(7) {
  background-color: #5fbd5c;
}

section.energy a:nth-child(8) {
  background-color: #48be5e;
}

section.intensity a:nth-child(1) {
  background-color: #571d43;
}

section.intensity a:nth-child(2) {
  background-color: #602043;
}

section.intensity a:nth-child(3) {
  background-color: #6a2442;
}

section.intensity a:nth-child(4) {
  background-color: #742841;
}

section.intensity a:nth-child(5) {
  background-color: #7e2b41;
}

section.intensity a:nth-child(6) {
  background-color: #872f40;
}

section.intensity a:nth-child(7) {
  background-color: #913240;
}

section.intensity a:nth-child(8) {
  background-color: #9b363f;
}

section.intensity a:nth-child(9) {
  background-color: #a53a3e;
}

section.intensity a:nth-child(10) {
  background-color: #ae3d3e;
}

section.intoxication a:nth-child(1) {
  background-color: #d9d4cc;
}

section.intoxication a:nth-child(2) {
  background-color: #d1d2cc;
}

section.intoxication a:nth-child(3) {
  background-color: #cacfcc;
}

section.intoxication a:nth-child(4) {
  background-color: #c2cccc;
}

section.intoxication a:nth-child(5) {
  background-color: #bbcacc;
}

section.intoxication a:nth-child(6) {
  background-color: #b3c7cc;
}

section.intoxication a:nth-child(7) {
  background-color: #acc4cc;
}

section.intoxication a:nth-child(8) {
  background-color: #a4c2cc;
}

a.button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.8em 2em;
  background: #4BBFC3;
  float: right;
  transition: all 100ms ease-in;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.9);
  padding: 0.8em 2.5em;
}

input {
  float: right;
  padding: 0.9em 1.2em 0.7em 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  border: none;
  margin-right: 2em;
  border-left: #444 solid 0.5em;
  transition: all 100ms ease-in;
  color: #222;
}

input:focus {
  outline: 0;
  border-left-width: 1em;
}

h1 {
  text-align: center;
  margin-top: 0;
}

h1 img {
  height: 1em;
}

.submit,
input {
  margin-top: -2em;
}

.info,
article {
  margin-top: -1em;
  float: left;
  margin-bottom: 7em;
}

.info span,
article span {
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
}

.info span.color,
article span.color {
  width: 2em;
  height: 0.8em;
  display: inline-block;
  margin-right: 2em;
}

article {
  clear: both;
  float: none;
  position: relative;
  padding: 4px;
}

article span {
  display: block;
  color: #aaa;
}

article span img {
  height: 1.1em;
  margin: 0 0.3em 0 0.5em;
  vertical-align: -2px;
}

article span.entry {
  margin-bottom: 1em;
}

article span.date {
  margin-bottom: 4px;
  color: #555;
  display: inline;
  float: right;
}

article span.notes {
  color: #555;
  display: inline;
  text-transform: none;
}

div.alert {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  width: 30%;
  background: #111;
  padding-bottom: 1em;
  transform: translateX(-50%);
}

div.alert p {
  display: block;
  text-align: center;
  margin: 2em;
  color: #eee;
}

div.alert a.button {
  float: none;
}

.note {
  width: 80%;
  margin: -110px 10% 0 10%;
}

@media (max-width: 1050px) {
  body {
    width: 98%;
  }

  section {
    min-height: 6em;
    margin-bottom: 3em;
  }
  section.mood a img {
    height: 2em;
    max-width: 3em;
  }

  div.alert {
    width: 80%;
  }

  .info,
  article {
    display: block;
    clear: both;
    margin-top: -1.5em;
    margin-bottom: 2em;
  }

  a.submit {
    clear: both;
  }

  a.submit,
  .note {
    margin-right: 2em;
    margin-bottom: 5em;
    margin-top: 0.5em;
  }

  article span.date {
    clear: both;
    float: none;
    display: block;
  }
}

@media (max-width: 800px) {
  section {
    min-height: 4em;
  }

  article span.notes {
    display: block;
    margin-top: 4px;
  }
}

@media (max-width: 600px) {
  .info,
  article {
    font-size: 0.8em;
  }
  .info span.color,
  article span.color {
    width: 0.8em;
    margin-right: 1em;
  }

  a.submit,
  .note {
    font-size: 0.8em;
  }
}

body::-webkit-scrollbar {
  background: #222;
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin: 16px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
